html {
    background-image: url('../images/2.The Lord of the Rings Background/slika2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

#divRow1{
    position: relative;
    width: 100%;
}

#divLevaStrana {
    position: absolute;
    width: 55%;
    height: 10em;
    box-shadow: 8px 8px 6px -6px black;
    border-radius: 20%;
}

#divLevaStranaRow1 {
    position: relative;
    width: 100%;
}

#znak {
    position: absolute;
    left: 2%;
    font-size: 45px;
    color: rgba(255, 94, 0, 0.788);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#divNaslova {
    position: relative;
    width: 80%;
    top: 3em;
    left: 5%;
    height: 50px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 0 8px 6px -6px white;
}

#naslov {
    position: relative;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 40px;
    color: rgba(255, 94, 0, 0.788);
    cursor: pointer;
}

#mojaKorpa{
    position: relative;
    top: 6em;
    left: 15%;
}

#divBoxBooks{
    position: relative;
    top: 12em;
    width: 100%;
}

.book{
    position: relative;
    display: inline-block;
    width: 14%;
    height: 100%;
    margin: 1em; 
}

img{
    position: relative;
    width: 70%;
    left: 15%;
    box-shadow: 0 8px 6px -6px black;
}

img:hover{
    transform: scale(1.1);
}

.naslovKnjige{
    position: relative;
    color: aliceblue;
    text-align: center;
    font-weight: 200;
    font-family: "Lucida Console", Monaco, monospace;
    cursor: context-menu;
}
