html {
    background: url("../images/uvodna.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    /* z-index: -1; koristi se kad stavljas bas sliku a ne pozadinu ili div sa background slikom */
}

#divNaslova {
    /* margin: 10%; */ /* ovo ne ide za element nad stranicom */
    left: 27.5%; /* fiksno pa idu procenti, ovo racunas spram width-a*/ 
    top: 10em; /* nije fiksno pa idu px ili bolje em */
    position: relative; /* mora relative (razmisli da li moze i absolute) da ide jer ga namestas (poredis) sprem njegove okoline a ako ga nema onda on nema naspram cega da namesta */ 
    width: 45%;
    background-color: rgba(0, 0, 0, 0.589);

    border-radius: 30px;
    /* border: 2px black; */
    /* height: 100px; */
    text-align: center; /* ovde se stavlja ako hoces da centrira nesto, izgleda da ukoliko ima dva teksta i svaki hoce da centrira suprotno onda u njig ide text align right i left*/
    line-height: 50px; /*ovo mora da se stavi da bi se taj tekst u divu mogao staviti na sredinu, tj on ce staviti 50px iznad teksta i 50px ispod!!! a zato se u css teksta 
                       /* mora staviti display: inline-block da bi on mogao da stavi height (nista on ne uporedjuje vec da bi mogao da dodaje element hight i width mora biti elemnt inline-block!) */
                       /* ako ides sa centriranjem onda stavljas samo line-height a ne height!!! */
                       /* moze i jedno i drugo ali ce ih on onda sabrati!*/
}                                                 

#naslov {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    color: rgba(255, 94, 0, 0.89);
    display: inline-block;
}
    
#divIspodNaslova {
    position: relative;
    top: 8.1em;
    width: 45%;
    left: 27.5%;
    text-align: center;
}

#ispodNaslova {
    display: inline-block;
    font-size: 14px;
    font-family: "Lucida Console", Monaco, monospace;
    color: rgba(255, 94, 0, 0.89);
}

div#divPitanja {
    position: relative;
    width: 30%;
    line-height: 8px;
    top: 30em;
    left: 35%;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 30px;
    text-align: center;
}

h1#pitanje {
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    color: rgba(250, 235, 215, 0.719);
    display: inline-block;
    transform: scale(0.9, 0.9);
}

#divOpcija {
    position: relative;
    width: 24%;
    line-height: 20px;
    top: 31em;
    left: 38%;
    text-align: left, right;
}

#divOpcija1 {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 30px;
    line-height: 25px;
}

#divOpcija2 {
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 30px;
    line-height: 25px;
}

label#opcija1 {
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    color: rgba(250, 235, 215, 0.719);
    transform: scale(0.9, 0.9);
    display: inline-block;
    width: 20%;
    /* text-align: left  ne pise se tu vec u njegovom divu */
}

label#opcija2 {
    font-size: 20px;
    font-family: "Lucida Console", Monaco, monospace;
    color: rgba(250, 235, 215, 0.719);
    transform: scale(0.9, 0.9);
    display: inline-block;
    /* text-align: left  ne pise se tu vec u njegovom divu */ 
    /* kako da ga namestim desno onda */ /* tako sto svako id tih tekstova sto se nalaze u tom divu moraju 
    biti ubaceni u zasebne divive koji se nalaze unutar tog velikog diva i onda im je on kao roditelj
        i njima se stavi da je position absolute i onda sa left= 0 i left=25%, mozda bi moglo i bez tih diviva ali su nam neophodni da bi zatamneli 
        i input kruzic i label polje*/ 
}

div#adminOpcija {
    position: relative;
    top: 35em;
    left: 86%;
    width: 12%;
    line-height: 30px;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 30px;
}

label#adminText {
    display: inline-block;
    font-size: 18px;
    font-family: "Lucida Console", Monaco, monospace;
    color: rgba(250, 235, 215, 0.719);
    transform: scale(0.9, 0.9);
}

input[type="radio"]{
    cursor: pointer;
}

label{
    cursor: context-menu;
}

h1{
    cursor: context-menu;
}
