html {
    background-image: url('../images/2.The Lord of the Rings Background/tapeta1 i za hobita.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

#divNaslova {
    position: relative;
    top: 0.2em;
    left: 75%;
    width: 100px;
    height: 40px;
}

#naslov {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    color: rgba(255, 94, 0, 0.788);
    cursor: pointer;
}

#znak {
    position: relative;
    top: -1em;
    left: 2%;
    font-size: 45px;
    color: rgba(255, 94, 0, 0.788);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

#divChooseAnAuthor{
    position: relative;
    width:20%; 
    height: 100px;
    left: 40%;
}

#lChooseAnAuthor{
    position: relative;
    display: block;
    text-align: center;
    color: rgba(255, 94, 0, 0.89);
    font-size: 25px;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
}

#selectChooseAnAuthor{
    position: relative;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
} 

#divBoxBooks{
    position: relative;
    width: 60%; 
    left: 20%;
}

.book{
    position: relative;
    display: inline-block;
    width: 27%;
    height: 100%;
    margin: 1.5em;
}

img{
    position: relative;
    width: 70%;
    left: 15%;
    box-shadow: 0 8px 6px -6px black;
}

img:hover{
    transform: scale(1.1);
}

.naslovKnjige{
    position: relative;
    color: aliceblue;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    cursor: context-menu;
}

a{
    position: relative;
    text-decoration: none;
    color: aliceblue;
    left: 40%;
}