html {
    background: url("../images/3.Star Wars Background/logInKorisnik1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

#korisnikSignIn {
    position: relative;
    top: 2.7em;
    left: 40%;
    height: 270px;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 30px;
}

#slovaSignIn {
    position: absolute;
    top: 2%;
    left: 30%;
    color: rgba(255, 94, 0, 0.89);
    font-size: 18px;
    font-family: "Lucida Console", Monaco, monospace;
}

.stilSignIn {
    text-align: center;
    color: rgba(255, 94, 0, 0.89);
    font-size: 18px;
    font-family: "Lucida Console", Monaco, monospace;
}

#fieldSet1 {
    display: inline-block;
    width: 60%;
    position: absolute;
    left: 15%;
    top: 20%;
    border-radius: 20px;
}

#fieldSet2 {
    display: inline-block;
    width: 70%;
    position: absolute;
    left: 10%;
    top: 50%;
    border-radius: 20px;
}

#signInDugme {
    position: absolute;
    top: 76%;
    left: 42%;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    color: rgba(240, 248, 255, 0.89);
}

#signInDugme:active {
    background-color:  rgba(255, 94, 0, 0.89);
    border-radius: 30px;
}

#proveriLozinku {
    position: absolute;
    top: 60%;
    left: 63%;
    font-size: 15px;
    border-radius: 10px;
}

#proveriLozinku:active {
    background-color:  rgba(255, 94, 0, 0.89);
}

#username {
    border-radius: 15px 
}

#password{
    border-radius: 15px
}

#divSaNaslovom {
    position: relative;
    top: 0.2em;
    left: 75%;
    width: 100px;
    height: 40px;
}

#naslov {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 30px;
    color: rgba(255, 94, 0, 0.788);
    cursor: pointer;
}

#znak {
    position: relative;
    top: -1.2em;
    left: 2%;
    font-size: 45px;
    color: rgba(255, 94, 0, 0.788);
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

h1{
    cursor: context-menu;
}

legend{
    cursor: context-menu;
}

button{
    cursor: pointer;
}